
.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 10px;
    margin-left: 8px;
}
.product-name{
    color: rgba(22, 22, 214, 0.829);
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
}
.cart-button{
    background-color: goldenrod;
    width: 140px;
    height: 25px;
    border: 1px solid rgb(131, 130, 130);
    border-radius: 8px;
}